@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.gradient-button {
  background-image: linear-gradient(to right, #8A2BE2, #FF6B35);
}

.gradient-logo {
  background-image: linear-gradient(to right, #FFA500, #8A2BE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
